/* ---------------------------------------------- Section ---------------------------------------------- */

.section {
    padding: 100px 0;
}

@media only screen and (max-width: 767px) {
    .section {
        padding: 50px 0;
    }
}

/* ---------------------------------------------- Contact Wrapper ---------------------------------------------- */

.contact-us .inner {
    border-radius: 5px;
    overflow: hidden;
}

.contact-us .contact-us-form {
    padding: 50px 40px;
}

.contact-us .contact-us-form h2 {
    position: relative;
    font-size: 32px;
    color: #333;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 20px;
}

/* underline for EN (left) */
.contact-us .contact-us-form h2:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: #1A76D1;
}

.contact-us .contact-us-form p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 50px;
}

/* ---------------------------------------------- Form ---------------------------------------------- */

.contact-us .inner .form .form-group {
    margin-bottom: 18px;
}

.contact-us .form .form-group input {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    padding: 0 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    text-transform: none; /* EN friendly */
}

.contact-us .form .form-group textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    padding: 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    text-transform: none; /* EN friendly */
}

.contact-us .form .form-group input:focus,
.contact-us .form .form-group textarea:focus {
    border: 1px solid #1A76D1;
}

/* ---------------------------------------------- Button ---------------------------------------------- */

.btn {
    padding: 13px 25px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: all .4s ease;
    border: none;
    border-radius: 4px;
}

.contact-us .form .form-group.login-btn {
    margin: 0;
}

.contact-us .form .btn {
    color: #fff;
    background-color: #1A76D1;
    line-height: 20px;
    width: 100%;
    position: relative;
}

.contact-us .form .btn:hover {
    background: #2c90f5;
    color: #fff;
}

.contact-us .form button {
    border: none;
}


/* ---------------------------------------------- Map ---------------------------------------------- */

.contact-us .contact-us-left {
    width: 100%;
    height: 100%;
}

.contact-us #myMap,
.contact-us #myMap iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .contact-us #myMap {
        height: 300px;
    }
}

/* ---------------------------------------------- Contact Info ---------------------------------------------- */

.contact-us .contact-info {
    margin-top: 50px;
}

.contact-us .single-info,
.contact-us .single-info:before {
    background: var(--sec-color);
    transition: all .3s ease-out 0s;
}

.contact-us .single-info {
    padding: 40px 60px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.contact-us .single-info:hover {
    transform: translateY(-5px);
}

.contact-us .single-info:hover:before {
    opacity: .8;
}

.contact-us .single-info:before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    opacity: 0;
    filter: blur(10px);
}

.contact-us .single-info .fa-phone,
.contact-us .single-info .fa-location-dot,
.contact-us .single-info .fa-clock {
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 40px;
    left: auto;
}

.contact-us .single-info .content {
    margin-right: 45px;
    margin-left: 0;
}

.contact-us .single-info .content h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.contact-us .single-info .content p {
    color: #fff;
    margin-top: 5px;
}

@media only screen and (max-width: 991px) {
    .contact-us .single-info {
        margin: 10px 0;
    }
}


.shadow-card{
  box-shadow: 0px 10px 20px  rgba(54, 148, 241, 0.1);
}

.Top
{
    background-image: url(../../assets/images/Contact\ us-cuate.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 120px 0;
}
.Top a, a:hover, button {
  text-decoration: none;
}

.overlay
{
    z-index: 2;
    position: relative;
}

.overlay::before
{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:#1A76D1;
    opacity: .8;
    z-index: -10;
}

.Top h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.Top .list {
    display: inline-block;
    margin-top: 20px;
}
.Top ul li {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.Top ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.Top ul li a:hover {
    color: #2c2d3f;
}
