:root { --sidebar-w: 250px; }

html, body { overflow-x: hidden; }

/* Desktop sidebar fixed */
.sidebar-desktop{
  width: var(--sidebar-w);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background:linear-gradient(to bottom ,#1e3c72,#295197);
  color: #fff;
  padding: 17px;
}

.sidebar-desktop a{
  color: #d4dbe4;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}
.sidebar-desktop a:hover{
  color: #fff;
  padding-left: 6px;
  transition: .3s;
}
.sidebar-desktop h6{
  margin-top:15px ;
}

/* Main content offsets on desktop only */
.main-content{
  min-height: 100vh;
  background: #f5f7fa;
}
h4{
  
    background: #ffffff42;
    padding:20px 10px;
    border-radius:10px;
    font-size:21px
}

@media (min-width: 992px){
  .main-content{
    margin-left: var(--sidebar-w);
    width: calc(100% - var(--sidebar-w));
  }
}

@media (max-width: 991.98px){
  .main-content{
    margin-left: 0;
    width: 100%;
  }
}



/* Mobile links inside offcanvas */
.offcanvas-start {
  background:linear-gradient(to bottom ,#1e3c72,#295197);
  color: #fff;
  width:250px
}



.mobile-link{
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  transition: transform .3s ease, color .3s ease;  /* هنا */
}

.mobile-link:hover{
  color:#fff;
  transform: translateX(6px);  /* بدل padding-left */
}

/* للموبايل (لمس) */
.mobile-link:active,
.mobile-link:focus{
  color:#fff;
  transform: translateX(6px);
}
/* //////////////////// */

/* ===== Custom Hamburger ===== */


.custom-toggler span{
  display:block;
  height:2px;
  background:#fff;
  border-radius:999px;
  transition: all .3s ease;
}
/* ///////////////////// */

.mobnave{
 background:linear-gradient(to left ,#1e3c72,#295197) !important;
color: #fff;
}
.navbar-light .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgb(0 0 0 / 0%);
}


.side-link {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}
.side-link:hover {
   color: #fff;
  padding-left: 6px;
  transition: .3s;
}



/* ///////////////////// */



/* عشان زرار الكلوز يطلع برا offcanvas */
.offcanvas { overflow: visible; } /* مهم */

.offcanvas-close-out{
  position: absolute;
  top: 34px;
  right: -44px;          /* يطلع برا */
  width: 25px;
  height: 25px;
  background: rgba(209, 23, 23, 0.918);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 10px 25px rgba(0,0,0,.18);
 color: #fff
}

/* hover */
.offcanvas-close-out:hover{
  background:  rgba(209, 23, 23, 0.507);
  transform: translateY(-1px);
  transition: .2s;
  color: #fff
}


